<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div id="menu">
        <button class="button" id="btn-criar-banco">Criar banco</button>
        <button class="button" id="btn-criar-tabela" disabled>Criar tabela</button>
        <button class="button" id="btn-inserir-tabela">Inserir registro</button>
        <button class="button" id="btn-ver-tabela">Ver tabela</button>
    </div>

    <main class="container">
        <h1>Criação de Tabelas</h1>
        <div class="input__box">
            <span>Banco de Dados</span>
            <select class="input__search" id="banco-dados">
            </select>
        </div>
        <div class="input__box">
            <span>Nome</span>
            <input class="input__search" type="search" id="nome-table">
        </div>
        <div class="input__box">
            <span>Campos</span>
            <input class="input__search" type="number" id="campos-table" value="0">
        </div>
        <div class="input__table" id="estrutura-dinamica"></div>
        <button id="criar-tabela-btn">Criar Tabela</button>
    </main>
    <script type="module" src="../controllers/menu.js"></script>
    <script type="module" src="../controllers/create-table.js"></script>
</body>

</html>