<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    
</head>

<body>
    <main class="container">
        <h1>Criar Banco de dados</h1>
        <div class="input__box">
            <span>Nome</span>
            <input class="input__search" type="search" id="nome-banco">
        </div>
        <button id="criar-banco-btn">Criar banco de dados</button>
    </main>
    <script type="module" src="../controllers/create-db.js"></script>
</body>

</html>