* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mobile: 468px;
    --table: 768px;
    --laptop: 1024px;
    --computer: 1200px;
    --box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    --padding: 1rem;
    --border-radius: 0.8rem;
    --border: 1px solid rgba(34, 34, 34, 0.651);
    --font-size: 1.4rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--font-size);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: calc(var(--padding) + .5rem);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
}

.table__inputs__box {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.input__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.input__box {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 0.5rem;
}

.key__box{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.label__box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    white-space: nowrap;
}

input[type="number"] {
    width: 100px;
    padding: 0.5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
}

select {
    width: 100px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

select:focus {
    border-color: #007bff;
    outline: none;
}

.input__search {
    width: 100%;
    box-shadow: var(--box-shadow);
    border: var(--border);
    outline: none;
    padding: 1rem;
}

.insert-label {
    /* margin-top: 5px; */
}

.insert-check {
    margin-top: 5px;
    margin-right: 5px;
}